* {
  font: SF Pro Rounded, Verdana, SF Pro Display;
}

.bp_LeftPanel .rooms .rooms_scroll-container {
  margin-right: 0;
}

.mx_EventTile_message .mx_EventTile_line :not(.mx_MImageBody,.mx_MVideoBody) {
  max-width: 150px;
}


/* hides the "all" or "read" tabs */
.rooms_actions {
  display: none !important;
}

/** Fade out window controls **/
.AppControls {
    opacity: 0;
    
    transition: opacity;
    transition-timing-function: ease-out;
    transition-duration: 250ms;

    -webkit-transition: opacity;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    
    transition-delay: 1s;
}

.AppControls:hover {
    opacity: 1;
    
    transition: opacity;
    transition-timing-function: ease-out;
    transition-duration: 250ms;

    -webkit-transition: opacity;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
}



.mx_RoomHeader {
     background-color: rgba(10, 10, 10, 0.2);
}

.bp_TitleBar {
    background-color: rgba(23, 25, 38, 0.557);
}

.bp_MainPanel {
     background-color: #1e1e1e02;
}

.mx_MainSplit {
     background: #1e1e1e00;
}

.mx_MatrixChat_wrapper--windows ._1fJQLY3NzmLrdWaOTqOBgG, .mx_MatrixChat_wrapper--linux ._1fJQLY3NzmLrdWaOTqOBgG {
background-color: rgba(23, 25, 38, 0.501);
}


.mx_MatrixChat > .mx_ResizeHandle, .mx_RightPanel_ResizeWrapper .mx_ResizeHandle {
    margin: 0px -2.5px 0px -2.5px;
    box-shadow: rgba(43, 78, 179, 0.5) 1px 0px 0px 0px inset;
}

body {
   background-position: top;
   background-size: cover;
   background-color: rgba(15, 12, 12, 0.105)
}

/* trim network icon styles */
[data-type="bp_RoomTile"] > div > div > div > div {
  margin: 0 !important;
}

/* remove floating archive button on side bar */
div._1BqyLbX2P4Ugt-sdNnI9Ob._3P3fvvlfCyimK5Wx17JEV {
  display: none !important;
}

/* hide the welcome to beeper thing */
div.mx_HomePage_default_wrapper {
  display: none !important;
}

html {

    --theme-my-bubble-color: linear-gradient(to left, color(display-p3 0.29 0.561 0.969 / 0.805), color(display-p3 0.237 0.459 0.799 / 1));
   /*vibrant sunset gradient bubbles*/
   /*--theme-my-bubble-color: linear-gradient(to right, rgba(165, 3, 252, 0.5), rgba(252, 94, 3, 0.5));*/

    --theme-accent-color: color(display-p3 0.286 0.557 0.969 / 0.894);
    --theme-their-bubble-color:  rgba(165, 165, 168, 0.909);
    --theme-chat-background-color: rgba(103, 102, 102, 0.412);

    --theme-borderwidth: 150px;
    --theme-borderradius: 13px;
    --theme-bubble-padding-v: 5px;
    --theme-bubble-padding-h: 10px;

    --chatview__backgroundcolor: var(--theme-chat-background-color);
    --chatview__backgroundimage: var(--theme-chat-background-image);
  
    --chatview__message__paddingleft: 2px;

    --chatview__fontsize: 2.2rem;
    --chatview__lineheight: var(--chatview__fontsize);
    --chatview__paddingleft: var(--size-spacing-400);
    --chatview__paddingright: var(--size-spacing-400);

    /*--chatview__composer__borderradius: var(--theme-borderradius);*/

    --chatview__message__borderwidth: 100%;
    
    --chatview__composer__bordercolor: rgba(217, 217, 217, 0.191);
    --chatview__composer__borderstyle: ridge;
    --chatview__composer__borderwidth: 2px;

    --chatview__message_group__margintop: 15px;

    --chatview__message_tail__opacity: 0.;
    --chatview__message_tail__color: var(--theme-their-bubble-color);
    --chatview__message__backgroundcolor: var(--theme-their-bubble-color);
    --chatview__message__fontcolor: #141414;

    --chatview__message__paddingleft: var(--theme-bubble-padding-h);
    --chatview__message__paddingright: var(--theme-bubble-padding-h);
    --chatview__message__paddingtop: var(--theme-bubble-padding-v);
    --chatview__message__paddingbottom: var(--theme-bubble-padding-v);
    --chatview__message__marginleft: 4px;
    --chatview__message__marginright: 4px;
    --chatview__message__margintop: 4px;

    --chatview__message__borderradius: var(--theme-borderradius);
    --chatview__message_sharp__borderradius: var(--theme-borderradius);

    --chatview__message_sender_name__alpha: 1;
    --chatview__message_sender_name__lightness: 55%;

    --chatview__message_self__backgroundcolor: var(--theme-my-bubble-color);
    --chatview__readmarker__fontcolor: var(--theme-accent-color);

    --chatview__readreceipt__fontcolor: rgba( 200, 200, 200);

    /*border for profile pictures*/
    --chatview__message_sender_avatar__borderradius: 50%;
    --chatview__message_sender_avatar__borderwidth: 3px;
    --chatview__message_sender_avatar__borderstyle: inset;
    --chatview__message_sender_avatar__bordercolor: rgba(12, 5, 19, 0.114);

}

html[theme="dark"] {
    --theme-their-bubble-color:  color(display-p3 0.231 0.231 0.239 / 0.754);
    --theme-chat-background-color: rgba(50, 51, 51, 0.064);
    /*--theme-chat-background-image: url("https://i.ibb.co/SydBn0Y/artwork-1.png");*/

    --chatview__composer__backgroundcolor:  rgba(35, 35, 38, 0.257);
    --chatview__message__fontcolor: #F6F6F6;
    --chatview__message_sender_name__lightness: 65%;
    --chatview__composer__boxshadow: 0 0 10px 10px rgba(43, 77, 179, 1);
    
    --chatview__paddingleft: 5px;
    --chatview__paddingtop: 10px;
    --chatview__paddingbottom: 10px;
    
    --theme-borderwidth: 0;
    
    --chatview__message_code__backgroundcolor: rgba(187, 186, 186, 0.517);

}

/* Visually (not functionally) hide the draggable divider for expanding chat summaries */
.mx_MatrixChat > .mx_ResizeHandle, .mx_RightPanel_ResizeWrapper .mx_ResizeHandle {
    margin: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.AppControls {
    position: absolute;
    top: var(--app-control-top);
    z-index: 1000;
    left: var(--app-control-left);
}
.AppControls-button { height: 100%; }
.bp_TitleBar {
    height: 0!important;
    min-height: unset!important;
}
.bp_Header {
    width: calc(100% - var(--app-control-wide) - var(--app-control-left));
    align-self: end;
}

/** Hide the (mostly empty) title bar
    move the window controls into the empty left-side area **/

:root {
  --app-control-wide: 138px;
  --app-control-left: 15px;
  --app-control-top: 12px;
}

.AppControls {
    position: absolute;
    top: var(--app-control-top);
    z-index: 1000;
    left: var(--app-control-left);
}
.AppControls-button { height: 100%; }
.bp_TitleBar {
    height: 0!important;
    min-height: unset!important;
}
.bp_Header {
    width: calc(100% - var(--app-control-wide) - var(--app-control-left));
    align-self: end;
}

/* Inbox - Favourites */

.rooms > .favourites {
  /* Custom Variables */
  --devalias-fav-section-max-height: 30vh;
  --devalias-fav-width: 40px;
  --devalias-fav-height: 40px;
  --devalias-fav-avatar-width: 40px;
  --devalias-fav-avatar-height: 40px;
  --devalias-fav-avatar-font-size: 22px;
}

.bp_LeftPanel .rooms .favourites__icons {

  padding: 13px;
  text-align: center;
  border: 1px;
  box-sizing: border-box; /* Inclui padding e border na largura e altura */

}

.rooms > .favourites > .favourites__icons > .favourites__tiles {
  max-height: var(--devalias-fav-section-max-height, none) !important;
  overflow: auto;
}

.rooms > .favourites > .favourites__icons > .favourites__tiles > .favourites__row > span {  
  --fav-width: var(--devalias-fav-width, 40px) !important;
}

.bp_LeftPanel .rooms .favourites_avatar {
  height: var(--devalias-fav-height, 40px) !important;
}

.bp_LeftPanel .rooms .favourites .bp_RoomTile.small {
  height: var(--devalias-fav-height, 48px) !important;
}

.bp_LeftPanel .rooms .favourites .bp_RoomTile.small .mx_BaseAvatar_image {
  width: var(--devalias-fav-avatar-width, 30px) !important;
  height: var(--devalias-fav-avatar-height, 30px) !important;
}

.bp_LeftPanel .rooms .favourites .bp_RoomTile.small .mx_BaseAvatar_initial {
  font-size: var(--devalias-fav-avatar-font-size, 19.8px) !important;
  width: var(--devalias-fav-avatar-width, 30px) !important;
  line-height: var(--devalias-fav-avatar-width, 30px) !important;
}

.bp_LeftPanel .rooms .favourites .bp_RoomTile.small .outline .outline-details {
  width: var(--devalias-fav-width, var(--fav-width, 45px)) !important;
}

/**********************/
/* Main Settings Menu */
/**********************/

#mx_ContextualMenu_Container .mx_AccessibleButton[aria-label="Chat Networks"] {
  display: none;
}

#mx_ContextualMenu_Container .mx_AccessibleButton[aria-label="Mark All As Read"] {
  display: none;
}

#mx_ContextualMenu_Container .mx_AccessibleButton[aria-label="Check for Update"] {
  display: none;
}

#mx_ContextualMenu_Container .mx_AccessibleButton[aria-label="Download Mobile App"] {
  display: none;
}

#mx_ContextualMenu_Container .mx_AccessibleButton[aria-label="Invite Friends"] {
  display: none;
}

#mx_ContextualMenu_Container .mx_AccessibleButton[aria-label="Help"] {
  display: none;
}

/******************************************************************/
/* Ensure 'report bug' dialog doesn't take over the entire screen */
/******************************************************************/
#mx_Dialog_Container div[aria-describedby="report_bug"] {
  /* Don't take up the entire screen */
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border-radius: 20px;

  /* Center the dialog */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

  --message-color-lightness: 100%;
  --message-bg-saturation: 0%;
  --message-bg-lightness: 15%;
  --message-bg-opacity: 1;

  --chatview__message_sender_name__saturation: 70%;
  --chatview__message_sender_name__lightness: 50%;
  --chatview__message_sender_name__alpha: 1.0;
  --chatview__message_sender_name__fontcolor: var(--avatar-hue);

/* Custom CSS TextArea */

.mx_AppearanceUserSettingsTab .mx_Field.mx_Field_textarea {
  width: 100% !important;
  height: 900px !important;
}

/* 'Chat Networks' 'tab' in the 'Settings' dialog*/

.mx_SettingsDialog_content > .mx_TabbedView > .mx_TabbedView_tabLabels > .mx_TabbedView_tabLabel:has(> span.mx_UserSettingsDialog_chatSettingsIcon) > .mx_TabbedView_tabLabel_text::after {
  content: "🔗";
  margin-left: 16px;
}

/* 'Chat Networks' button on the main Settings menu */
 
#mx_ContextualMenu_Container .mx_AccessibleButton[aria-label="Chat Networks"]::after {
  content: "🔗";
}

/* Inbox - Favourites */

.rooms > .favourites {
  /* Custom Variables */
  --devalias-fav-section-max-height: 30vh;
  --devalias-fav-width: 45px;
  --devalias-fav-height: 45px;
  --devalias-fav-avatar-width: 45px;
  --devalias-fav-avatar-height: 45px;
  --devalias-fav-avatar-font-size: 18px;
}

.bp_LeftPanel .rooms .favourites__icons .icon {
  flex: 1 1 auto; /* Allow items to grow and shrink equally */
  max-width: fit-content; /* Adjust max width as needed */
  margin: 5px; /* Optional: Adjust margins for spacing */
  padding: 10px; /* Optional: Adjust padding for spacing */
}

.rooms > .favourites > .favourites__icons > .favourites__tiles {
  max-height: var(--devalias-fav-section-max-height, none) !important;
  overflow: auto;
}

.rooms > .favourites > .favourites__icons > .favourites__tiles > .favourites__row > span {  
  --fav-width: var(--devalias-fav-width, 40px) !important;
}

.bp_LeftPanel .rooms .favourites_avatar {
  height: var(--devalias-fav-height, 60px) !important;
}

.bp_LeftPanel .rooms .favourites .bp_RoomTile.small {
  height: var(--devalias-fav-height, 48px) !important;
}

.bp_LeftPanel .rooms .favourites .bp_RoomTile.small .mx_BaseAvatar_image {
  width: var(--devalias-fav-avatar-width, 44px) !important;
  height: var(--devalias-fav-avatar-height, 44px) !important;
}

.bp_LeftPanel .rooms .favourites .bp_RoomTile.small .mx_BaseAvatar_initial {
  font-size: var(--devalias-fav-avatar-font-size, 19.8px) !important;
  width: var(--devalias-fav-avatar-width, 44px) !important;
  line-height: var(--devalias-fav-avatar-width, 44px) !important;
}

.bp_LeftPanel .rooms .favourites .bp_RoomTile.small .outline .outline-details {
  width: var(--devalias-fav-width, var(--fav-width, 45px)) !important;
}



