/* Version 1.2 9/23/2022 */
/* You can use a local font if you want. This uses Nunito  */

/* Theme started with https://github.com/Madelena/Metrology-for-Beeper and then added my own compact mode, then tweaks from there */


* * {
  font-family: Nunito, "Segoe UI", Roboto, sans-serif !important;
}



body {
  --metrology-hue: 212; /* Enter values between 0 and 359 to change the color of the theme. */

  --metrology-accent: var(--metrology-hue), 100%, 38%;
  --metrology-highlight: var(--metrology-hue), 100%, 60%;
  --metrology-complement: calc(var(--metrology-hue) - 50), 100%, 28%;

  /* Dark Theme */
  --metrology-background: 0, 0%, 0%;
  --metrology-text-primary: 0, 0%, 100%;
  --metrology-text-heading: 0, 0%, 95%;
  --metrology-text-secondary: 0, 0%, 66%;

  --metrology-gray-1: 0, 0%, 9%;
  --metrology-gray-2: 0, 0%, 15%;
  --metrology-gray-3: 0, 0%, 21%;
  --metrology-gray-6: 0, 0%, 46%;
  --metrology-shadow: 0, 0%, 0%, .25;

  /* Light Theme - Uncomment the following code to apply, then switch to Light Theme in the app. */
  --metrology-background: 0, 0%, 100%;
  --metrology-text-primary: 0, 0%, 0%;
  --metrology-text-heading: 0, 0%, 10%;
  --metrology-text-secondary: 0, 0%, 50%;

  --metrology-gray-1: 0, 0%, 98%;
  --metrology-gray-2: 0, 0%, 95%;
  --metrology-gray-3: 0, 0%, 90%;
  --metrology-gray-6: 0, 0%, 82%;
  --metrology-shadow: 0, 0%, 0%, .1;

  --metrology-round-corner-small: 0;
  --metrology-round-corner-medium: 8px; /* 0 for the sharp Metro experience. 4px for a more moderate Fluent. */

  background-color: hsl(var(--metrology-background));
  color: hsl(var(--metrology-text-primary)) ;
}

.bp_TitleBar {
  background-color: transparent;
  position: absolute;
  height: 32px;
  z-index: 100;
  width: 100%;
}

.mx_MatrixChat>:not(.mx_SpacePanel):not(.mx_ResizeHandle):not(.mx_LeftPanel_wrapper):not(.bp_LeftPanel) {
  padding-top: 32px;
  height: calc(100% - 32px) !important;
  background-color: hsl(var(--metrology-background));
}

h1, h2, h3, h4, h5, h6 {
  color: hsl(var(--metrology-text-heading));
}


/* Left Panel */

.bp_LeftPanel {
  margin-left: 48px;
}

.bp_LeftPanel .rooms .rooms_scroll-container {
  margin-right: 0;
}


/* Space Bar */

.bp_LeftPanel .spaceBar {
  padding: 32px 0 0 0;
  margin-bottom: 0;
  position: absolute !important;
  top: 0;
  left: 0;
  background: hsl(var(--metrology-gray-2));
  height: 100% !important;
  width: 48px;
  padding-top: 36px;
  box-shadow: -8px 0px 24px -12px hsla(var(--metrology-shadow)) inset;
}

.bp_LeftPanel .spaceBar .grid {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 48px;
  grid-template-rows: repeat(auto-fill,40px);
  position: relative;
  top: 0;
  height: calc(100% - 40px);
  width: 48px;
}

.bp_LeftPanel .spaceBar .grid .bp_ProtocolsToggle {
  display: none;
  grid-row-start: auto;
  grid-column-end: auto;
}

.bp_LeftPanel .spaceBar .grid .plus {
  width: 48px;
  height: auto;
  margin: 0 0 8px 0;
  grid-row-start: auto;
  grid-row-end: -1;
}

.bp_LeftPanel .spaceBar .bp_SpaceBarItem.active, .bp_LeftPanel .spaceBar .bp_SpaceBarItem.active:hover {
  background-color: transparent;
  border-left: 4px solid hsl(var(--metrology-accent));
  padding-left: 0;
  width: 40px;
  border-right: 4px solid transparent;
}

.bp_LeftPanel .spaceBar .bp_SpaceBarItem {
  border-radius: var(--metrology-round-corner-small);
  border: none;
  width: 40px;
  height: 40px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.bp_LeftPanel .spaceBar .bp_SpaceBarItem_image {
  background-color: hsl(var(--metrology-text-primary));
}

.bp_LeftPanel .spaceBar .bp_SpaceBarItem .bp_SpaceBarItem_badge {
  background-color: hsl(var(--metrology-accent));
}

.bp_LeftPanel .spaceBar .bp_SpaceBarItem .bp_Avatar, .bp_LeftPanel .spaceBar .bp_SpaceBarItem img {
  filter: grayscale(1) opacity(0.75);
}

.bp_LeftPanel .spaceBar .bp_SpaceBarItem .bp_Avatar {
  width: 22px;
  height: 22px;
  border-radius: var(--metrology-round-corner-medium);
  filter: none!important;
}

.bp_LeftPanel .spaceBar .bp_SpaceBarItem .bp_Avatar span {
  color: hsl(var(--metrology-text-primary)) !important;
  mix-blend-mode: none !important;
}


/* Header and Search Bar */

.bp_Header {
  margin-top: 32px;
  height: 48px;
  margin-bottom: -48px;
}

.bp_LeftPanel .searchBar {
  padding: 0 112px 0 16px;
}

.bp_CommandBarSearch {
  border-radius: var(--metrology-round-corner-medium); 
  background: hsl(var(--metrology-gray-2));
  /* border: 1px solid hsl(var(--metrology-gray-6)); */
}

.bp_CommandBarSearch .bp_CommandBarSearch_overlay.bp_CommandBarSearch_overlay--prefix {
  left: 12px;
}

.bp_CommandBarSearch input {
  width: 64px;
}

.bp_CommandBarSearch_shortcutHint {
  display: none;
}


/* Favorites */

.bp_LeftPanel .rooms .favourites {
  padding: 0 4px;
  /* margin-left: 4px; */
}

.bp_LeftPanel .rooms .favourites__tiles {
  gap: 32px;
  padding: 24px 20px;
  justify-content: center;
}

.bp_LeftPanel .rooms .favourites__icons {
  grid-template-columns: auto;
  margin-right: 0;
}

.bp_LeftPanel .rooms .favourites_avatar {
  height: 64px;
}

.bp_LeftPanel .rooms .favourites .bp_RoomTile.small .outline .avatar .mx_BaseAvatar_initial {
  width: 64px!important;
  line-height: 64px!important;
}

.bp_LeftPanel .rooms .favourites .bp_RoomTile.small .outline .mx_BaseAvatar_image {
  width: 64px!important;
  height: 64px!important;
}

.bp_LeftPanel .rooms .favourites .mx_BaseAvatar_image {
  width: 64px!important;
  height: 64px!important;
}

.bp_LeftPanel .rooms .favourites_avatar--unread .mx_BaseAvatar {
  box-shadow: inset 0 0 0 1px hsl(0deg 0% 100% / 0%), 0 0 0 3px hsl(var(--metrology-accent));
}


/* Avatars */

.bp_Avatar_bg_1, .bp_Avatar_bg_2, .bp_Avatar_bg_3 {
  background: linear-gradient(160deg,hsl(var(--metrology-gray-3)) 0%,hsl(var(--metrology-gray-2)) 100%)
}

.mx_BaseAvatar_initial {
  color: hsl(var(--metrology-text-primary)) !important;
  mix-blend-mode: color-dodge;
  margin-top: -2px;
}


/* Contact List */

.bp_LeftPanel, .bp_LeftPanel .rooms_subtitle-container, .bp_RoomTile .actions-container .info {
  background-color: hsl(var(--metrology-gray-1));
}

.bp_LeftPanel .rooms_subtitle-container {
  min-height: 24px !important;
  background: none;
}

.bp_RoomTile {
  height: 72px;
  margin: 1px 0
}

.bp_RoomTile:not(.small) {
  padding: 0;
}

.bp_RoomTile:not(.small) .outline {
  border-radius: var(--metrology-round-corner-small);
  padding: 8px 4px 8px 4px;
}

/* modified */
.bp_RoomTile:not(.small):hover:not(.active) {
  background-color: hsl(var(--metrology-highlight));
  box-shadow: 0px 0px 8px 0 rgba(0,0,0,0.24),0 4px 16px 0 rgba(0,0,0,0.19);
  transition: all 0.3s ease;

}

.bp_RoomTile .name {
  padding: 2px 2px 4px 0;
  color: hsl(var(--metrology-text-primary));
}

.bp_RoomTile .preview {
  font-weight: normal;
  letter-spacing: 0;
}

.bp_RoomTile .preview>span {
  color: hsl(var(--metrology-text-secondary));
}

.bp_RoomTile:not(.small) .outline>div .indicator {
  margin-left: -10px !important;
}

.bp_RoomTile:not(.small) .indicator.unread {
  -webkit-mask-image: none;
  mask-image: none;
  background-color: hsl(var(--metrology-accent));
}

.bp_RoomTile .indicator.mention {
  -webkit-mask-image: none;
  mask-image: none;
  background-color: hsl(var(--metrology-highlight));
}

.bp_RoomTile.isUnread .preview>span {
  font-weight: 500;
  color: hsl(var(--metrology-highlight));
}

.bp_RoomTile .actions-container {
  margin-right: -30px;
}

.bp_RoomTile .actions-container .info {
  height: 72px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  flex-direction: column-reverse;
}

.bp_RoomTile .timestamp {
  font-weight: 300;
  padding-bottom: 8px;
}

.bp_RoomTile .details .row>* {
  line-height: 1.25;
}

/* replacing with much broader transpaency next
.bp_RoomTile:not(.small).active .outline, .bp_RoomTile:not(.small).active .outline.electronTransparency, .bp_RoomTile:not(.small).active .row.info {
  background-color: hsl(var(--metrology-gray-3));
}
*/

.bp_new-conversation-view .bp_RoomTile:not(.small).active .outline.electronTransparency, 
.bp_new-conversation-view .bp_RoomTile:not(.small).active .outline, 
.bp_new-conversation-view .bp_RoomTile:not(.small).active .row.info,
.bp_RoomTile:not(.small).active .outline, 
.bp_RoomTile:not(.small).active .outline.electronTransparency, 
.bp_RoomTile:not(.small).active .row.info,
.bp_new-conversation-view .bp_RoomTile:not(.small):hover:not(.active) .outline,
.bp_new-conversation-view .bp_RoomTile:not(.small):hover:not(.active) .outline .mask,
.bp_new-conversation-view .bp_RoomTile:not(.small):hover:not(.active) .row.info,
.bp_RoomTile:not(.small):hover:not(.active) .nv_BridgedIcon:before,
.bp_new-conversation-view .bp_RoomTile:not(.small):hover:is(.active) .outline, 
.bp_new-conversation-view .bp_RoomTile:not(.small):hover:is(.active) .row.info,
.bp_new-conversation-view .bp_RoomTile:not(.small):hover:is(.active) .outline .mask,
.bp_new-conversation-view .tile_actions-button:hover
{
  background: transparent !important
}

/*modified */
.bp_RoomTile:not(.small):hover:not(.active) .row.info {
  background: none !important;
}

.bp_RoomTile .tile_actions-button, .bp_RoomTile .tile_actions .bp_Button2 {
  border-radius: var(--metrology-round-corner-small);
}


/* changing it mind after
.bp_RoomTile .tile_actions-button:hover {
  background-color: hsl(var(--metrology-gray-3));
  border-radius: 100px;
}
*/

.bp_RoomTile .tile_actions-button:hover {
  background-color: lightblue;
  border-radius: 100px;
}

.bp_LeftPanel .rooms .unread_hint {
  padding: 32px 48px;
  color: hsl(var(--metrology-gray-6))
}

.mx_MatrixChat.resizing>.mx_ResizeHandle, .mx_MatrixChat>.mx_ResizeHandle:hover, .mx_RightPanel_ResizeWrapper .mx_ResizeHandle.resizing, .mx_RightPanel_ResizeWrapper .mx_ResizeHandle:hover {
  box-shadow: inset 4px 0 0 0 hsl(var(--metrology-accent));
}


/* Main Panel */

.bp_MainPanel {
  margin-left: 1px;
}


/* Room Header */

.mx_RoomHeader {
  background: linear-gradient(to bottom, hsl(var(--metrology-background)), hsla(var(--metrology-background),.25));
  backdrop-filter: blur(10px);
  box-shadow: none;
  /* box-shadow: 0 12px 20px hsla(var(--metrology-gray-6), .5); */
}

.mx_RoomHeader_wrapper {
  padding: 8px 16px 12px;
}

.mx_DecoratedRoomAvatar {
  margin: 0;
  padding: 0;
}

.mx_RoomHeader_name {
  color: hsl(var(--metrology-text-primary));
  font-size: 2.5rem;
  line-height: 1.25;
  border-radius: var(--metrology-round-corner-small);
  padding: 1px 12px 4px 0;
}

.mx_DateSeparator>div {
  border: none;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.15rem;
  letter-spacing: .75px;
  color: hsl(var(--metrology-text-secondary));
}
.mx_RoomView_dateSeparator_container .mx_DateSeparator>div {
  background: none;
}


/* Messages */

.bp_MainPanel {
  z-index: 10;
  box-shadow: 0 4px 24px 0 hsla(var(--metrology-shadow));
}

.mx_RoomView_body {
  box-shadow: none;
}

.mx_RoomView_body .mx_RoomView_timeline {
  margin-top: -56px;
  margin-bottom: -80px;
}

.mx_RoomView_body .mx_RoomView_messagePanel, .mx_RoomView_body .mx_RoomView_messagePanelSearchSpinner, .mx_RoomView_body .mx_RoomView_messagePanelSpinner {
  padding-top: 56px;
  padding-bottom: 80px;
}


.mx_EventTile_message .mx_EventTile_line, .mx_EventTile_sticker .mx_EventTile_line, .mx_EventTile_messageOut .mx_EventTile_line {
  padding: 6px 10px;
}

.mx_EventTile_message, .mx_EventTile_sticker {
  margin-bottom: 8px;
}

.mx_EventTile_messageIn .mx_EventTile_line {
  background: hsl(var(--metrology-gray-3));
  color: hsl(var(--metrology-text-primary));
}

.mx_EventTile_messageOut .mx_EventTile_line {
  background: linear-gradient(145deg,hsl(var(--metrology-accent)) 3%,hsl(var(--metrology-complement)) 97%);
  color: hsl(var(--metrology-text-primary));
}

.mx_EventTile_message.mx_EventTile_messageIn .mx_EventTile_line::before {
  content: "â—¢";
  position: absolute;
  bottom: -1px;
  left: -9px;
  color: hsl(var(--metrology-gray-3));
  line-height: 1;
}

.mx_EventTile_message.mx_EventTile_messageOut .mx_EventTile_line::after {
  content: "â—£";
  position: absolute;
  bottom: -1px;
  right: -9px;
  color: hsl(var(--metrology-complement));
  text-align: right;
  line-height: 1;
}

.mx_EventTile_emoji .mx_EventTile_line::before, .mx_EventTile_file .mx_EventTile_line::before, .mx_EventTile_sticker .mx_EventTile_line::before, .mx_EventTile_emoji .mx_EventTile_line::after, .mx_EventTile_file .mx_EventTile_line::after, .mx_EventTile_sticker .mx_EventTile_line::after {
  content: " " !important;
}

.mx_EmojiPicker, .bp_LinkPreview, .mx_ContextualMenu, .mx_RightPanel, .mx_MImageBody_thumbnail,
.mx_EventTile_message.mx_EventTile_messageIn .mx_MessageBody .mx_EventTile_line,
.mx_EventTile_sticker.mx_EventTile_messageIn .mx_MessageBody .mx_EventTile_line,
.mx_EventTile_message.mx_EventTile_messageOut .mx_MessageBody .mx_EventTile_line,
.mx_EventTile_sticker.mx_EventTile_messageOut .mx_MessageBody .mx_EventTile_line {
  border-radius: var(--metrology-round-corner-medium);
}

.mx_EventTile_message.mx_EventTile_firstInGroup .mx_EventTile_line, .mx_EventTile_sticker.mx_EventTile_firstInGroup .mx_EventTile_line {
  border-top-left-radius: var(--metrology-round-corner-medium)!important;
  border-top-right-radius: var(--metrology-round-corner-medium)!important;
}

.mx_EventTile_message.mx_EventTile_last .mx_EventTile_line, .mx_EventTile_message.mx_EventTile_lastInGroup .mx_EventTile_line, .mx_EventTile_message.mx_EventTile_lastInSection .mx_EventTile_line, .mx_EventTile_sticker.mx_EventTile_last .mx_EventTile_line, .mx_EventTile_sticker.mx_EventTile_lastInGroup .mx_EventTile_line, .mx_EventTile_sticker.mx_EventTile_lastInSection .mx_EventTile_line {
  border-bottom-left-radius: var(--metrology-round-corner-medium)!important;
  border-bottom-right-radius: var(--metrology-round-corner-medium)!important;
}

.mx_EventTile_message.mx_EventTile_messageIn .mx_EventTile_line {
  border-bottom-left-radius: 0!important;
}
.mx_EventTile_message.mx_EventTile_messageOut .mx_EventTile_line {
  border-bottom-right-radius: 0!important;
}

.mx_EventTile_message .mx_MessageTimestamp,
.mx_EventTile_sticker .mx_MessageTimestamp {
  font-size: 10px;
  font-weight: 300;
}

.mx_EventTile_messageIn .mx_SenderInfo_wrapper {
  margin-bottom: 6px;
}

.mx_EventTile_messageIn .mx_MessageBody .mx_EventTile_avatar {
  margin-right: 8px;
}

.mx_EventTile_messageIn.mx_EventTile_dm .mx_MessageBody {
  grid-template-columns: 0 minmax(auto,max-content) minmax(35%,auto);
}

.mx_EventTile_messageOut .mx_MessageBody {
  grid-template-columns: fit-content(24px) minmax(auto,max-content) minmax(25%,auto);
}

.mx_EventTile_messageIn .mx_MessageBody {
  grid-template-columns: 36px minmax(auto,max-content) minmax(25%,auto);
}

.mx_EventTile_message .mx_EventTile_line :not(.mx_MImageBody,.mx_MVideoBody) {
  max-width: none;
}

.mx_GroupLayout .mx_EventTile .mx_EventTile_line, .mx_GroupLayout .mx_EventTile .mx_EventTile_reply {
  line-height: 2.1rem;
}

.mx_EventTile_message .mx_EventTile_line, .mx_EventTile_sticker .mx_EventTile_line, .mx_EventTile_messageOut .mx_EventTile_line {
  padding: 6px 12px 8px;
}

.mx_EventTile_message .mx_MessageTimestamp, .mx_EventTile_sticker .mx_MessageTimestamp {
  color: hsl(var(--metrology-text-secondary));
}

.mx_EventTile_messageIn .mx_ReplyChain {
  background: hsla(var(--metrology-gray-1),.25)
}

.mx_ReplyChain_wrapper .mx_ReplyChain:last-child {
  margin-bottom: 4px;
  border-bottom-left-radius: var(--metrology-round-corner-medium);
  border-bottom-right-radius: var(--metrology-round-corner-medium);
}

.mx_ReplyChain_wrapper .mx_ReplyChain:first-child {
  border-top-left-radius: var(--metrology-round-corner-medium);
  border-top-right-radius: var(--metrology-round-corner-medium);
  margin-top: 4px;
}

li.mx_RoomView_myReadMarker_container {
  height: auto;
  justify-content: center;
  flex-direction: column;
}

hr.mx_RoomView_myReadMarker {
  border: 1px solid hsl(var(--metrology-accent));
  border-bottom: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  top: 0;
}

.mx_RoomView_myReadMarker_newLabel {
  color: hsl(var(--metrology-accent));
  height: 24px;
  text-transform: uppercase;
  font-size: 1.15rem;
  font-weight: 700;
  letter-spacing: .75px;
  margin-bottom: 8px;
}

.mx_ReactionsRowButton {
  background: hsl(var(--metrology-gray-2));
  border: 0;
}

.mx_ReactionsRowButton:hover {
  background: hsl(var(--metrology-gray-3));
  box-shadow: none;
}

.mx_ReactionsRowButton.mx_ReactionsRowButton_selected {
  box-shadow: none;
  background: hsl(var(--metrology-accent));
}


/* Message Composer */

.mx_MessageComposer {
  background: linear-gradient(to bottom, hsla(var(--metrology-background),.5), hsl(var(--metrology-background)));
  backdrop-filter: blur(10px);
}

.mx_MessageComposer_wrapper {
  background: hsla(var(--metrology-gray-3),.5);
  border: .5px solid hsl(var(--metrology-gray-6));
  border-radius: var(--metrology-round-corner-medium);
}

.mx_SendMessageComposer .mx_BasicMessageComposer .mx_BasicMessageComposer_input>* {
  line-height: 2.1rem;
  margin-top: 1rem;
}

.mx_SendMessageComposer .mx_BasicMessageComposer .mx_BasicMessageComposer_input>:first-child {
  line-height: 2.1rem;
  margin-top: 0;
}

.mx_BasicMessageComposer .mx_BasicMessageComposer_input.mx_BasicMessageComposer_input_shouldShowPillAvatar {
  color: hsl(var(--metrology-text-primary));
}

.mx_MessageComposer_send {
  background: linear-gradient(160deg, hsl(var(--metrology-complement)) 3%, hsl(var(--metrology-accent)) 128.02%);
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mx_EmojiPicker_category_label, .mx_EmojiPicker_preview_name {
  color: hsl(var(--metrology-text-heading));
  font-size: 1.15rem;
  font-weight: 600;
  margin: 8px 0;
  text-transform: uppercase;
  letter-spacing: .75px;
}

.mx_HomePage_default .mx_HomePage_default_buttons .mx_AccessibleButton {
  background: linear-gradient(160deg,hsl(var(--metrology-accent)) 3%,hsl(var(--metrology-complement)) 128.02%);
}

.mx_JumpToBottomButton {
  bottom: 92px;
}

.mx_JumpToBottomButton_unread .mx_JumpToBottomButton_scrollDown {
  background: hsl(var(--metrology-accent));
  border-radius: var(--metrology-round-corner-medium);
}

.bp_WhoIsTypingTile {
  height: 24px;
  z-index: 10;
  background: hsl(var(--metrology-background));
}


/* Message Alerts */

.mx_RoomView_statusArea {
  background-color: hsl(var(--metrology-background));
}

.mx_RoomStatusBar_unsentMessages>div[role=alert] {
  background-color: hsl(var(--metrology-gray-3));
  border-radius: var(--metrology-round-corner-medium);
}


/* Message Search */

.mx_RoomView_auxPanel, .mx_RoomView_lowerAuxPanel {
  z-index: 5;
}

.mx_SearchBar {
  background: linear-gradient(to bottom, hsl(var(--metrology-background)), hsla(var(--metrology-background),.25));
  backdrop-filter: blur(10px);
}

.mx_SearchBar .mx_SearchBar_button {
  border-bottom: 4px solid hsl(var(--metrology-accent));
  padding: 5px 0;
}

.mx_SearchBar .mx_SearchBar_unselected {
  border-color: transparent;
}

.mx_SearchBar .mx_SearchBar_input {
  background: hsla(var(--metrology-gray-3),.5);
  border: .5px solid hsl(var(--metrology-gray-6));
  border-radius: var(--metrology-round-corner-medium);
}


/* Panel and Dialogs */

.dark-panel {
  background-color: hsl(var(--metrology-gray-1));
}

.mx_RightPanel_headerButton_highlight:before {
  background-color: hsl(var(--metrology-accent))!important;
}

.mx_ContextualMenu, .bp_newChatDropdown {
  background-color: hsl(var(--metrology-gray-1));
  color: hsl(var(--metrology-text-primary));
  border-radius: var(--metrology-round-corner-medium);
}

.mx_IconizedContextMenu .mx_IconizedContextMenu_optionList .mx_AccessibleButton {
  font-size: 1.3rem;
  color: hsl(var(--metrology-text-primary));
}

.mx_IconizedContextMenu.mx_IconizedContextMenu_compact .mx_IconizedContextMenu_optionList>* {
  padding: 6px 16px 6px 11px;
}

.mx_RoomTile2_contextMenu .mx_IconizedContextMenu_icon:before {
  background: hsl(var(--metrology-text-secondary));
}


#confirmConnectionSearchInput, #newChatUserSearchInput {
  background-color: hsl(var(--metrology-gray-2));
  /* color: hsl(var(--metrology-text-primary)); */
  border-radius: var(--metrology-round-corner-medium);
}

.bp_newChatDropdown .contactItem.active, .bp_newChatDropdown .contactItem:hover {
  background-color: hsl(var(--metrology-gray-3));
  border-radius: var(--metrology-round-corner-medium);
}

.mx_Dialog {
  background-color: hsl(var(--metrology-gray-1));
  border-radius: var(--metrology-round-corner-medium);
}

.mx_Dialog_cancelButton {
  width: 12px;
  height: 12px;
  top: 2px;
}

.rc-dialog-wrap {
  background-color: hsla(var(--metrology-background),.66);
}

.commandbar-animation.commandbar-opened {
  background-color: hsl(var(--metrology-gray-2)) !important;
}

.commandbar-ek2juz {
  background: hsl(var(--metrology-background))
}


/* Settings */

.mx_Dialog_wrapper {
  top: 32px;
  left: 0;
  width: 100%;
  height: calc(100% - 64px);
  align-items: center;
  justify-content: space-around;
}

/* .mx_Dialog,  */
.mx_ChatNetworks_Dialog {
  width: 100%;
  height: 100%;
}

.mx_Dialog_title {
  color: hsl(var(--metrology-text-heading));
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: .5px;
}

.mx_TabbedView {
  padding: 0;
}

.mx_TabbedView_tabsOnLeft .mx_TabbedView_tabLabel_active {
  background-color: transparent;
  border-left: 4px solid hsl(var(--metrology-accent));
  color: hsl(var(--metrology-text-primary));
}

.mx_TabbedView_tabsOnLeft .mx_TabbedView_maskedIcon {
  margin-left: 16px;
}

.mx_TabbedView_tabsOnLeft .mx_TabbedView_tabLabel_active .mx_TabbedView_maskedIcon:before {
  background-color: hsl(var(--metrology-accent));
}

.mx_TabbedView_tabLabel {
  border-radius: var(--metrology-round-corner-medium);  
  border-left: 4px solid transparent;
  margin-bottom: 4px;
  border-radius: var(--metrology-round-corner-small);
}

.mx_SettingsTab {
  color: hsl(var(--metrology-text-primary));
}

.mx_SettingsTab_heading {
  font-size: 3rem;
  color: hsl(var(--metrology-text-heading));
}

.mx_TabbedView_tabsOnLeft .mx_TabbedView_tabLabels {
  width: 220px;
  max-width: 220px;
  color: hsl(var(--metrology-text-primary));
}

.ChatNetworksDialog-leftbar .tabbar .tab .name {
  color: hsl(var(--metrology-text-primary));
  font-weight: normal;
  font-size: 14px;
}

.ChatNetworksDialog-content .panel-title {
  color: hsl(var(--metrology-text-heading));
  font-weight: 600;
}

.ChatNetworksDialog-leftbar .tabbar .tab.selected, .ChatNetworksDialog-leftbar .tabbar .tab.selected:hover {
  background: hsl(var(--metrology-accent));
}


.mx_SettingsTab_subheading {
  color: hsl(var(--metrology-text-heading));
}

.mx_Field label {
  color: hsl(var(--metrology-text-secondary));
}


.mx_AccessibleButton_hasKind:not(.mx_AccessibleButton_kind_link):not(.mx_AccessibleButton_kind_link_inline):not(.mx_MatrixChat_splashButtons), .mx_Dialog_buttons button, .mx_Dialog_buttons input[type=submit], .mx_Dialog button, .mx_Dialog input[type=submit] {
  box-shadow: inset 0 0 0 1px hsl(var(--metrology-gray-6))!important;
  background: hsl(var(--metrology-gray-2));
  border-radius: var(--metrology-round-corner-medium);
}

.mx_Dialog_buttons button:hover, .mx_Dialog button:hover {
  background: hsl(var(--metrology-gray-3));
}

.mx_Dialog_buttons button:active, .mx_Dialog button:active {
  background: hsl(var(--metrology-gray-2));
}

.mx_AccessibleButton_kind_primary, .mx_Dialog_buttons button.mx_Dialog_primary, .mx_Dialog_buttons input[type=submit].mx_Dialog_primary, .mx_Dialog button.mx_Dialog_primary, .mx_Dialog input[type=submit].mx_Dialog_primary {
  box-shadow: none!important;
  background: hsl(var(--metrology-accent));
}

.mx_AccessibleButton_kind_primary:hover, .mx_Dialog_buttons button.mx_Dialog_primary:hover, .mx_Dialog button.mx_Dialog_primary:hover {
  background: hsl(var(--metrology-highlight));
}

.mx_AccessibleButton_kind_primary:active, .mx_Dialog_buttons button.mx_Dialog_primary:active, .mx_Dialog button.mx_Dialog_primary:active {
  background: hsl(var(--metrology-accent));
}


.mx_ToggleSwitch.mx_ToggleSwitch_on {
  background-color: hsl(var(--metrology-accent));
}

.mx_Checkbox.mx_Checkbox_kind_solid input[type=checkbox]:checked+label>.mx_Checkbox_background {
  background: hsl(var(--metrology-accent));
  border-color: hsl(var(--metrology-accent));
}


.mx_StyledRadioButton_checked {
  border-color: hsl(var(--metrology-accent));
}

.mx_StyledRadioButton input[type=radio]:checked+div {
  border-color: hsl(var(--metrology-accent));
}
.mx_StyledRadioButton input[type=radio]:checked+div>div {
  background: hsl(var(--metrology-accent));
}


.mx_AccessibleButton_kind_link {
  color: hsl(var(--metrology-accent));
}

.mx_ToggleSwitch {
  width: 4rem;
  height: 1.5rem;
}

.mx_ToggleSwitch.mx_ToggleSwitch_on>.mx_ToggleSwitch_ball {
  left: calc(100% - 1.4rem);
}

.mx_ToggleSwitch_ball {
  width: 1.25rem;
  height: 1.25rem;
  left: .25rem;
}

.mx_SettingsTab_section .mx_SettingsFlag {
  margin-right: 80px;
  margin-bottom: 12px;
}


/* Tooltip */

.bp_PopperTooltip {
  --tooltipBackground: hsl(var(--metrology-background));
  --tooltipBorder: hsl(var(--metrology-background));
  border-radius: var(--metrology-round-corner-small);
  color: hsl(var(--metrology-text-primary));
  box-shadow: 0 4px 12px 0px hsla(var(--metrology-shadow));
}





/* MERGE COMMADOT.COM PARTS */



.bp_RoomTile:not(.small):hover:not(.active) * {
  color: #ffffff;
}

.bp_RoomTile:not(.small):hover:not(.active) .nv_BridgedIcon:before {background-color: #fff;}


/* ADMIN SECTION */


/* The word Theme is just taking up space */
.mx_SettingsTab_subheading {
    display:none
}

/* Appearance settings */
.mx_AppearanceUserSettingsTab textarea {
    width: 610px;
    height: 330px;
    font-family: courier, monospsace !important;
    font-size: 13px;
    background-color: #eeeeee;
    color: #000000;
}

/* text area for css is two fields for some reason */
.mx_AppearanceUserSettingsTab .mx_Field {
    width: 650px;
    height: 350px;
    border: 1px solid #979797;
}

/* the css label label isn't needed here */
.mx_AppearanceUserSettingsTab .mx_Field_textarea label {
    display:none
}

/* light and dark should be side by side buttons */
.mx_ThemeSelectors {
    display:flex;
    margin-top: 10px;
    width: 200px
}

/* inner padding and cursor for the light vs dark */
.mx_ThemeChoicePanel .mx_StyledRadioButton {
 padding: 10px;
 flex:1;
 cursor: pointer;
 border-width: 2px;
}

/* a nice hover effect for the light vs dark */
.mx_ThemeChoicePanel .mx_StyledRadioButton:hover {
    border: 2px solid red !important;
    background-color: #ff000015;
    transition: all 0.3s ease;
}

/* Make the radio button visible for the light vs dark */
.mx_StyledRadioButton input[type=radio]:checked+div {
    border: 2px solid #ffffff;
}
.mx_StyledRadioButton input[type=radio]:checked+div>div {
    background-color: #ffffff;
}

/* Margin in between for the light vs dark */
.mx_ThemeSelector_light { margin-right: 10px !important;}

/* ON state is blue for the light vs dark */
.mx_ThemeChoicePanel .mx_StyledRadioButton_checked {
    background-color: #4958f5 !important;
    border-color: #4958f5 !important;
    color: #ffffff;
}
.mx_ThemeChoicePanel .mx_StyledRadioButton_checked:hover {
    background-color: #4958f5 !important;
    border-color: #4958f5 !important;
}

/* indenting the textarea and button */
.mx_SettingsTab_section {
    margin-left: 12px;
}



/* buttons with shadows */

.mx_AccessibleButton_hasKind:not(.mx_AccessibleButton_kind_link):not(.mx_AccessibleButton_kind_link_inline):not(.mx_MatrixChat_splashButtons), 
.mx_Dialog_buttons button, 
.mx_Dialog_buttons input[type=submit], 
.mx_Dialog button, .mx_Dialog input[type=submit] {
    background-color: #4958f5;
    border-radius: 100px;
    color: white;
    padding: 8px 24px;
    font-size: 13px;
    cursor: pointer;
    margin-right: 12px;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow:none;
    transition: all 0.3s ease;

}

.mx_AccessibleButton_hasKind:not(.mx_AccessibleButton_kind_link):not(.mx_AccessibleButton_kind_link_inline):not(.mx_MatrixChat_splashButtons):active, 
.mx_Dialog_buttons button:active, 
.mx_Dialog_buttons input[type=submit]:active, 
.mx_Dialog button, .mx_Dialog input[type=submit]:active {
    box-shadow: none !important;
    transition: all 0.3s ease;
}

.mx_AccessibleButton_hasKind:not(.mx_AccessibleButton_kind_link):not(.mx_AccessibleButton_kind_link_inline):not(.mx_MatrixChat_splashButtons):hover, 
.mx_Dialog_buttons button:hover, 
.mx_Dialog_buttons input[type=submit]:hover, 
.mx_Dialog button, .mx_Dialog input[type=submit]:hover {
    box-shadow: 0px 0px 8px 0 rgba(0,0,0,0.24),0 4px 16px 0 rgba(0,0,0,0.19),inset 0px 0px 0px 2px #f00;
    background-color: #4251fc;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.mx_AccessibleButton_kind_danger {background-color: red !important}


/* end buttons */

/* Toggles */
.mx_ToggleSwitch_ball {
    box-shadow: 
        0 0 0 1px hsl(0deg 0% 0% / 10%), 
        0 4px 0px 0 hsl(0deg 0% 0% / 4%), 
        0 4px 9px hsl(0deg 0% 0% / 13%), 
        0 3px 3px hsl(0deg 0% 0% / 5%)
}




/*admin section left side font */
.mx_TabbedView_tabLabel {
    font-size: 1.4rem;
}


.mx_AccessibleButton:hover {
    background-color: #ff000015
}


.bp_RoomTile:not(.small):hover:not(.active) .outline .mask, 
.bp_RoomTile:not(.small).active .outline .mask {
    background: none !important;
  }

/* COMPACT MODE */

.bp_LeftPanel .rooms .favourites__tiles {
    gap: 12px;
}


/* not for everyone, but I dont want the previews */
.bp_RoomTile .preview {display:none}

/* trying to make the whole thing smaller */
.bp_RoomTile {height: 36px;}
.bp_RoomTile .actions-container {
    margin-right: 0px;
    transition-delay: 0ms;
}

.bp_RoomTile .actions-container .row-info,
.bp_RoomTile .actions-container .tile_actions,
.bp_RoomTile .actions-container .info
 {
    flex-direction: row;
    height: auto !important;
    border-radius: 0px !important;
    width: auto !important;
    padding: 0px !important;
}

.bp_RoomTile:not(.small):hover .actions-container {
    transform: none;
}

.bp_RoomTile:not(.small) .outline {
    grid-template-columns: 10px 32px 1fr auto;
    background: none !important;
}

.bp_LeftPanel .rooms .favourites__tiles {
    padding: 8px 0px;
}


/* Side panel in main console avatars smaller*/
.mx_BaseAvatar_initial,
.bp_RoomTile:not(.small) .outline .mx_BaseAvatar, 
.bp_RoomTile:not(.small) .outline .mx_BaseAvatar_image,
.bp_LeftPanel .rooms .favourites .bp_RoomTile.small .outline .mx_BaseAvatar_image,
.bp_LeftPanel .rooms .favourites .bp_RoomTile.small .outline .avatar .mx_BaseAvatar_initial,
.bp_LeftPanel .rooms .favourites .bp_RoomTile.small,
.mx_BaseAvatar_image,
.bp_Avatar {
    width: 24px !important;
    height: 24px !important;
    line-height: 24px!important;
    font-size: 1rem !important;
    font-weight: bold;
    background: #FFFFFF;
    border-radius: 100px;
}

.mx_BaseAvatar_initial {
    border: 2px solid #999999;
    border-radius: 100px;
}




/* Active row, white text */
.bp_RoomTile.active:not(.small)
  {
    background-color: #cedff9 !important; 
    border-left: 4px solid #2a69c7;
}

.bp_RoomTile:not(.small).active .outline, 
.bp_RoomTile:not(.small).active .outline.electronTransparency, 
.bp_RoomTile:not(.small).active .row.info {
    background-color: transparent;
}


/* Incoming msg is simple blue */
XX.mx_EventTile_messageOut .mx_EventTile_line,
XX.mx_RedactedBody {
    background: #2a69c7 !important;
    color: #ffffff;
}

/* BAckground of right side */
.mx_RoomView_messageListWrapper {
    background: linear-gradient(-45deg, #ee765280, #e73c7e80, #23a6d580, #23d5ab80);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* mask black not gray */
.rc-dialog-wrap {
    background-color: #000000a3;
}

.bp_LeftPanel .rooms .unread_hint {padding: 8px;}
.bp_LeftPanel .rooms .favourites_avatar {
    height: auto !important;
  }
  
